/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.0.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #38393b;
}

::-webkit-scrollbar-thumb {
  background: #c11861;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a41452;
}

body {
  background: #313537;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2A3D66;
  color: #fff;
  /*#222*/
  font-family: 'Mulish', sans-serif;
  width: 100%;
}

header {
  position: relative;
  background-color: #2A3D66;
  width: 100%;
  height: 20%;
}

.menu {
  /*transform: translate(0, 50%);*/
  position: absolute;
  top: 20%;
  width: 100%;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2vw;
  margin-left: 5%;
  margin-right: 5%;
}

.menu ul a {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  padding: 2% 5% 2% 5%;
}

#burger-menu {
  z-index: 31;
  color: #c11861;
  font-size: 3em;
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  #burger-menu {
    display: none;
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

#modal .trailerVideo {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index: 12;
  z-index: 12;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 1600px) {
  .profile {
    display: block;
  }
}

@media (max-width: 1600px) {
  .profile .halfdiv:nth-child(1) {
    border-bottom: none;
  }
}

.profile .halfdiv {
  background: deepskyblue;
  width: 50%;
  border: 2px solid black;
}

@media (max-width: 1600px) {
  .profile .halfdiv {
    width: 100%;
  }
}

.profile .halfdiv .blocInfo {
  margin-top: 40px;
  margin-left: 10%;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0px;
  }
}

.profile .halfdiv .blocInfo .text {
  z-index: 1;
  position: relative;
  top: -150;
  left: 200;
  width: 500px;
  border: 2px solid red;
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .text {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 530px) {
  .profile .halfdiv .blocInfo .text {
    width: 300px;
  }
}

.profile .halfdiv .blocInfo .text .underPicture {
  width: 100%;
  min-height: 160px;
  padding-left: 160px;
}

.profile .halfdiv .blocInfo .text .underPicture p, .profile .halfdiv .blocInfo .text .underPicture h1 {
  width: 100%;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .text .underPicture {
    padding-left: 0px;
    height: 100px;
  }
}

.profile .halfdiv .blocInfo .text .notUnderPicture {
  height: 100px;
  margin-left: 10px;
}

.profile .halfdiv .blocInfo .text .notUnderPicture .listMargin {
  margin-left: 40px;
}

.profile .halfdiv .blocInfo .picture {
  position: relative;
  margin-right: 250px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .picture {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.profile .halfdiv .blocInfo .picture .pictureProfile {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

/* ANIMATION CADRE */
.container {
  overflow: hidden;
  padding-bottom: 150px;
}

.centerFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
}

.colorFrame {
  position: relative;
  width: 50vw;
  height: 50vh;
  background: rgba(180, 171, 252, 0.2);
  -webkit-box-shadow: 0 20px 50px rgba(149, 171, 252, 0.15);
          box-shadow: 0 20px 50px rgba(149, 171, 252, 0.15);
}

.linearColor {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top {
  border-top: 10px solid;
  -o-border-image: linear-gradient(to right, purple, blue) 5;
     border-image: -webkit-gradient(linear, left top, right top, from(purple), to(blue)) 5;
     border-image: linear-gradient(to right, purple, blue) 5;
  -webkit-animation: topAnimate 4s linear infinite;
          animation: topAnimate 4s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.right {
  border-right: 10px solid;
  -o-border-image: linear-gradient(to bottom, blue, red) 5;
     border-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(red)) 5;
     border-image: linear-gradient(to bottom, blue, red) 5;
  -webkit-animation: rightAnimate 4s linear infinite;
          animation: rightAnimate 4s linear infinite;
}

.bottom {
  border-bottom: 10px solid;
  -o-border-image: linear-gradient(to left, red, yellow) 5;
     border-image: -webkit-gradient(linear, right top, left top, from(red), to(yellow)) 5;
     border-image: linear-gradient(to left, red, yellow) 5;
  -webkit-animation: bottomAnimate 4s linear infinite;
          animation: bottomAnimate 4s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.left {
  border-left: 10px solid;
  -o-border-image: linear-gradient(to top, yellow, purple) 5;
     border-image: -webkit-gradient(linear, left bottom, left top, from(yellow), to(purple)) 5;
     border-image: linear-gradient(to top, yellow, purple) 5;
  -webkit-animation: leftAnimate 4s linear infinite;
          animation: leftAnimate 4s linear infinite;
}

/* DANS LE CADRE */
.myName {
  font-size: 2vw;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  position: absolute;
  top: 36%;
}

.myName:hover {
  -webkit-animation: nameAnimate 1s linear;
          animation: nameAnimate 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes topAnimate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes topAnimate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes rightAnimate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes rightAnimate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@-webkit-keyframes bottomAnimate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@keyframes bottomAnimate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@-webkit-keyframes leftAnimate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes leftAnimate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@-webkit-keyframes nameAnimate {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes nameAnimate {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.robot {
  width: 60%;
}

.imgGoogle {
  width: 50%;
  height: 40%;
}

.align {
  margin-left: 0px;
}

.robotImage {
  margin-left: -20%;
  width: 2%;
  height: 90%;
}

.generalError {
  width: 50%;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}

.generalError p {
  margin-right: 50%;
}

.generalError h4 {
  margin-right: 30%;
}
/*# sourceMappingURL=main.css.map */