.profile {
  display: flex;
  width: 100%;
}

@media (max-width: 1600px) {
  .profile {
    display: block;
  }
}

@media (max-width: 1600px) {
  .profile .halfdiv:nth-child(1) {
    border-bottom: none;
  }
}

.profile .halfdiv {
  background: deepskyblue;
  width: 50%;
  border: 2px solid black;
}

@media (max-width: 1600px) {
  .profile .halfdiv {
    width: 100%;
  }
}

.profile .halfdiv .blocInfo:nth-child(odd) {
  margin-left: 10%;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo:nth-child(odd) {
    margin-left: 0%;
  }
}

.profile .halfdiv .blocInfo:nth-child(odd) .underPicture {
  padding-left: 160px;
}

.profile .halfdiv .blocInfo:nth-child(even) {
  margin-left: -10%;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo:nth-child(even) {
    margin-left: 0%;
  }
}

.profile .halfdiv .blocInfo:nth-child(even) .picture {
  position: relative;
  left: 500px;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo:nth-child(even) .picture {
    left: 0px;
  }
}

.profile .halfdiv .blocInfo:nth-child(even) .underPicture {
  padding-right: 200px;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo:nth-child(even) .underPicture {
    padding-right: 0px;
  }
}

.profile .halfdiv .blocInfo {
  margin-top: 40px;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
  }
}

.profile .halfdiv .blocInfo .text {
  z-index: 1;
  position: relative;
  top: -150;
  left: 200;
  width: 500px;
  border: 2px solid red;
  background-color: royalblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .text {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .profile .halfdiv .blocInfo .text {
    width: 300px;
  }
}

.profile .halfdiv .blocInfo .text .underPicture {
  width: 100%;
  min-height: 160px;
}

.profile .halfdiv .blocInfo .text .underPicture p, .profile .halfdiv .blocInfo .text .underPicture h1 {
  width: 100%;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .text .underPicture {
    padding-left: 0px;
    height: 100px;
  }
}

.profile .halfdiv .blocInfo .text .notUnderPicture {
  padding-bottom: 15px;
  margin-left: 10px;
}

.profile .halfdiv .blocInfo .text .notUnderPicture .listMargin {
  margin-left: 40px;
}

.profile .halfdiv .blocInfo .picture {
  position: relative;
  margin-right: 250px;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 350px;
}

@media (max-width: 800px) {
  .profile .halfdiv .blocInfo .picture {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.profile .halfdiv .blocInfo .picture .pictureProfile {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
