.profile{
    display: flex;
    height: 100%;
    width: 100%;
    @media (max-width:1600px) {
        display: block;
    }
    .halfdiv:nth-child(1){
        @media (max-width:1600px) {
            border-bottom: none;
        }
    }
    .halfdiv{
        background: deepskyblue;
        width: 50%;
        border: 2px solid black;
        @media (max-width:1600px) {
            width: 100%;
        }
        .blocInfo{
            margin-top: 40px;
            margin-left: 10%;
            @media (max-width:800px) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: 0px;
                
            }
            .text{
                z-index: 1;
                position: relative;
                top: -150;
                left: 200;
                width: 500px;
                border: 2px solid red;
                background-color: royalblue;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                @media (max-width:800px) {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-bottom: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;  
                }
                @media (max-width:530px) {
                    width: 300px; 
                }
                .underPicture{
                    width: 100%;
                    min-height: 160px;
                    padding-left: 160px;
                    p, h1{
                        width: 100%;
                    }
                    @media (max-width:800px) {
                        padding-left: 0px;
                        height: 100px;
                    }
                }
                .notUnderPicture{
                    height: 100px;
                    margin-left: 10px;
                    .listMargin{
                        margin-left: 40px;
                    }
                }
                
            }
            .picture{
                position: relative;
                margin-right: 250px;
                z-index: 2;
                display: flex;
                justify-content: center;
                width: 350px;
                @media (max-width:800px) {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
                .pictureProfile{
                    border: 2px solid black;
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }
}





